.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.bg-image {
    background-image: url(./assets/images/blue_technology.png);
    height: 100%;
    width: 100%;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Brawler');
.text{
    font-family: Brawler, serif;
    color: rgb(255, 255, 255);
    font-size: 22px;
}